html  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body, canvas {
    margin: 0 !important;
    padding: 0 !important;
}

/* .container {
    margin: 1em !important;
    padding: 0 !important;
} */

.canvasControls {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.canvasControls > li {
    margin: 0.05em;
    padding: 0.05em;
}


#fill {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border: 0.1em dotted red;
}

#fill::-webkit-color-swatch-wrapper {
    padding: 0;	
}
#fill::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

.shape {
    border: 1px solid black;
    padding: 2px;
}

canvas {
    border: 2px solid red;
}

/* canvas { 
    height: 100vh; 
    width: 100vw; 
    display: block;
  } */

/* canvas {
    background-color: blue; 
    width: 100%;
    height: auto;
} */
